@use '../../helpers/index' as *;

.auth {

  &__header {
    gap: rem(30);
    margin-bottom: rem(30);
    font-size: rem(24);
  }

  &__btn.is-active {
    cursor: default;
    pointer-events: none;
    color: var(--color-accent);
  }

  &__form {
    width: min(50vw, #{rem(400)});
  }
}