@use '../../helpers/index' as *;

.recommended {
  overflow-y: auto;
  padding-right: rem(40);

  &__item {
    gap: rem(10);
    padding: rem(8);
    border-radius: var(--radius-medium);

    @include hover {
      background: #fe797180;
      color: inherit;

      .video__preview {
        border-radius: 0;
      }
    }

    @include laptop {
      flex-direction: column;
    }
  }

  &__preview {
    aspect-ratio: 16/9;
    flex: 0 0 50%;
    border-radius: var(--radius-medium);
    background: var(--color-dark-alt);

    span {
      flex-shrink: rem(16);
      z-index: 1001;
      bottom: rem(5);
      right: rem(8);
      background: var(--color-accent);
      border-radius: var(--radius-regular);
      padding-inline: rem(5);
      text-shadow: 0 0 rem(5) var(--color-dark);
      border: var(--border-dark-alt);
    }

    img {
      object-fit: contain;
    }
  }

  &__title {
    flex-shrink: rem(15);
  }

  &__date, &__channel {
    font-size: rem(13);
    color: var(--color-light-alt);
    opacity: .9;
  }

  &__timeline {
    height: rem(4);
  }
}