@use '../../helpers/index' as *;

.recommended {
  height: 100%;
  width: 100%;
  overflow-y: auto;
  padding-right: fluid(40, 10);

  &__item {
    gap: rem(10);
    padding: rem(8);
    border-radius: var(--radius-medium);

    @include hover {
      background: #fe797180;
      color: inherit;

      .video__preview {
        border-radius: 0;
      }
    }

    @include laptop {
      flex-direction: column;
    }
  }

  &__preview {
    aspect-ratio: 16/9;
    flex: 0 0 50%;
    border-radius: var(--radius-medium);

    span {
      @include fluid-text(16, 12);

      z-index: 1001;
      bottom: fluid(15, 5);
      right: fluid(15, 8);
      background: var(--color-accent);
      border-radius: var(--radius-regular);
      padding-inline: rem(5);
      text-shadow: 0 0 rem(5) var(--color-dark);
      border: var(--border-dark-alt);
    }
  }

  &__title {
    @include fluid-text(15, 13)
  }

  &__date, &__channel {
    font-size: rem(13);
    color: var(--color-light-alt);
    opacity: .9;
  }
}