@use '../../helpers/index' as *;

.video-page {
  height: 100%;

  &__content {
    height: 100%;
    padding-left: fluid(60, 20);
    column-gap: fluid(20, 10);
    padding-bottom: fluid(120, 80);
  }
}