@use '../../helpers/index' as *;

.uploaded-video {

  &__preview {
    height: rem(300);
    margin-bottom: rem(10);
    background: var(--color-dark);

    .img-container {
      aspect-ratio: 16/9;
    }
  }

  &__name {
    @include line-clamp(2);

    margin-bottom: rem(15);
  }

  &__channel {
    gap: rem(10);

    &-avatar {
      @include square(50);
    }
  }
}