@use '../../helpers' as *;

.main-page {
  width: 100%;
  height: 100%;

  &__right {
    flex-grow: 1;
    overflow-y: auto;
    overflow-x: hidden;
  }

  &__content {
    padding: 0 rem(20) rem(40);
  }

  &__search {

    .video-list {
      max-width: rem(1200);
    }
  }

  &__channel {

    @include tablet-above {
      width: 80%;
    }
  }
}