@use '../../helpers/index' as *;

.channel {

  &__banner {
    width: 100%;
    height: rem(300);
    background: var(--color-accent);
    border-radius: var(--radius-big);
    margin-bottom: rem(20);
  }

  &__info {
    column-gap: rem(20);
    margin-bottom: rem(30);
  }

  &__avatar {
    @include square(120);

    border-radius: 50%;
    background: var(--color-light-alt);
  }

  &__tabs {
    border-bottom: var(--border-dark-alt);
    margin-bottom: rem(20);
  }

  &__tab {
    position: relative;

    &.is-active {
      pointer-events: none;

      &::before {
        content: '';
        position: absolute;
        width: 100%;
        height: rem(1);
        left: 0;
        top: 100%;
        background: var(--color-accent);
      }
    }

    button {
      padding: rem(10) rem(20);
    }
  }

  &__about {
    padding-left: rem(15);
  }

  &__sub-title {
    margin-bottom: rem(15);
  }

  &__statistic-item {

    &:not(:last-child) {
      margin-bottom: rem(10);
    }
  }
}