@use 'normalize';
@use 'fonts';
@use 'variables';
@use 'utils';
@use 'globals';
@use 'classes';

@use 'blocks/input';
@use 'blocks/video-list';
@use 'blocks/header';
@use 'blocks/main-layout';
@use 'blocks/menu';
@use 'blocks/skeleton';
@use 'blocks/empty';
@use 'blocks/total';
@use 'blocks/modal';
@use 'blocks/upload';

@use 'blocks/main/main-page';

@use 'blocks/channel/channel';

@use 'blocks/video/video-page';
@use 'blocks/video/video';
@use 'blocks/video/recommended';

@use 'blocks/search/search-page';