@use 'normalize';
@use 'fonts';
@use 'variables';
@use 'utils';
@use 'globals';
@use 'classes';

@use 'blocks/input';

@use 'blocks/main/main';
@use 'blocks/main/menu';
@use 'blocks/main/header';
@use 'blocks/main/video-item';