@use '../helpers/index' as *;

.header {
  width: 100%;
  backdrop-filter: blur(52px);
  background: #3d4b5690;
  position: sticky;
  top: 0;
  padding-block: fluid(30, 15);
  z-index: 1000;

  &__btn-bar {
    @include abs-y;

    column-gap: fluid(30, 10);
    left: fluid(50, 10);
  }

  &__back, &__forward {
    column-gap: rem(10);
    z-index: 1000;

    svg {
      @include fluid-square(40, 20);
    }

    span {
      @include laptop {
        display: none;
      }
    }
  }

  &__forward {
    flex-direction: row-reverse;

    svg {
      rotate: 180deg;
    }
  }

  &__avatar {
    @include abs-y;

    right: fluid(40, 20);
    border-radius: 50%;
    aspect-ratio: 1;
    width: fluid(55, 40);
  }

  &__search {
    width: fluid(800, 500);
    height: fluid(50, 40);
    border-radius: var(--radius-big);
    border: var(--border-light-alt);
    background: var(--color-dark);

    & * {
      height: 100%;
    }
  }

  &__input {
    border: none;
    padding-inline: rem(20) fluid(70, 50);
    flex-grow: 1;
  }

  &__btn {
    width: fluid(80, 55);
    background: var(--color-dark-alt);

    @include hover {
      filter: brightness(1.1);
    }

    svg {
      width: 50%;
    }
  }

  &__clear {
    @include abs-y;

    aspect-ratio: 1;
    height: 100%;
    right: fluid(80, 55);
    z-index: 1000;
  }
}