@use '../helpers' as *;

.input {
  border: var(--border-light-alt);

  @include hover {
    border-color: var(--color-accent);
  }

  &:focus {
    border-color: var(--color-accent);
  }

  &::placeholder {
    color: var(--color-light-alt);
    opacity: .8;
  }
}