@use '../helpers/index' as *;

.main-layout {
  height: 100%;

  &__right {
    width: 100%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
  }

  &__content {
    padding: 0 rem(20) rem(40);
    flex-grow: 1;
  }
}