@use '../helpers' as *;

.modal {
  inset: 0;
  backdrop-filter: blur(3px) brightness(0.75);
  z-index: 100000;
  opacity: 0;
  animation: fadeIn .25s ease forwards;

  @keyframes fadeIn {
    to { opacity: 1; }
  }

  @keyframes slideUp {
    to { transform: translateY(0); }
  }

  &__close {
    @include square(50);

    background: var(--color-dark);
    top: rem(-25);
    right: rem(-25);
    border-radius: 50%;

    svg {
      width: 100%;
      height: 100%;
    }
  }

  &__content {
    @include abs-center;

    min-height: rem(200);
    background: var(--color-dark-alt);
    padding: rem(20);
    border-radius: var(--radius-medium);
    border: var(--border-light-alt);
    transform: translateY(50px);
    animation: slideUp .25s ease forwards;

    &:not(.is-small) {
      width: min(50%, #{rem(600)});
    }

    &.is-small {
      width: min(40%, #{rem(400)});
    }
  }
}