@use '../helpers/index' as *;

.search-history {
  top: calc(100% - #{rem(20)});
  background: var(--color-dark-alt);
  padding-block: rem(30) rem(10);
  border-radius: 0 0 var(--radius-medium) var(--radius-medium);
  transition: opacity var(--transition-duration), transform var(--transition-duration);
  opacity: 0;
  transform: translateY(#{rem(-10)});
  pointer-events: none;

  &.is-active {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
  }

  &__item {
    padding: rem(8) rem(15);
    justify-content: space-between;

    @include hover() {
      background-color: color-mix(in srgb, var(--color-light-alt), transparent 90%);
    }
  }

  &__delete {
    --btn-bg-alpha: 80%;

    @include square(30);

    background-color: color-mix(in srgb, var(--color-light-alt), transparent var(--btn-bg-alpha));
    color: var(--color-light);

    @include hover() {
      --btn-bg-alpha: 60%;
    }

    svg {
      width: 60%;
    }
  }
}