@use '../helpers/index' as *;

.skeleton {
  --row-gap: 30px;
  --column-gap: 30px;

  .line {

     overflow: hidden;
    background: var(--color-dark-alt);
    position: relative;

    &::before {
      content: '';
      position: absolute;
      height: 100%;
      top: 0;
      background: var(--color-light-alt);
      box-shadow: 0 0 rem(20) rem(10) var(--color-light-alt);
      animation: loadSkeleton 2s infinite linear;
      z-index: 1;
    }

    @keyframes loadSkeleton {
      0% {
        left: -40%;
      }
      100% {
        left: 140%;
      }
    }
  }

  &__preview {
    aspect-ratio: 16/9;
    border-radius: var(--radius-medium);
    margin-bottom: rem(10);
  }

  &__avatar {
    @include square(50);

    border-radius: 50%;
    margin-right: rem(10);
  }

  &__name, &__channel, &__date {
    border-radius: var(--radius-regular);
  }

  &__name {
    height: rem(25);
    width: 100%;

    &:not(:last-child) {
      margin-bottom: rem(10);
    }
  }

  &__channel, &__date {
    height: rem(18);
    width: 30%;
  }

  &__channel {
    margin-bottom: rem(5);
  }

  &:not(.is-column) {
    &:first-child {
      margin-top: rem(10);
    }

    &:nth-child(2) {
      margin-bottom: rem(10);
    }
  }

  &.is-column {

    .skeleton__item {
      gap: rem(20);

      &:not(:last-child) {
        margin-bottom: rem(10);
      }
    }

    &.is-recommended {
      .skeleton__item {
        @include laptop {
          flex-direction: column;
          gap: rem(5);

          &:not(:last-child) {
            margin-bottom: rem(20);
          }
        }
      }
    }

    .skeleton__preview {
      flex: 0 0 50%;
    }

    .skeleton__name {
      display: block;
    }

    .skeleton__date {
      margin-bottom: rem(10);
    }
  }

  &.channels {
    .skeleton__item {
      width: 100%;
      height: rem(30);
      border-radius: var(--radius-big);
      background: var(--color-dark);

      &:not(:last-child) {
        margin-bottom: rem(10);
      }
    }
  }
}