@use '../helpers' as *;

.upload {

  &__form {
    gap: rem(10);
  }

  &__label {

    p {
      margin: 0 0 rem(5) rem(5);

      span {
        margin-left: rem(5);
        color: var(--color-accent);
      }
    }
  }

  &__input {
    width: 100%;
    padding: rem(10);
    border-radius: var(--radius-medium);
    margin-bottom: rem(15);
  }

  &__btn-bar {
    column-gap: rem(10);
  }

  &__button {
    font-size: rem(18);
    background: var(--color-accent);
    width: 50%;
    padding-block: rem(15);
    border-radius: var(--radius-medium);
    margin-top: rem(20);

    &:disabled {
      background: var(--color-dark);
      opacity: .6;
    }

    @include hover {
      filter: brightness(1.2);
    }
  }

  &__total {
    margin-bottom: rem(10);
  }

  &__list {
    max-height: rem(200);
    overflow-y: auto;
    overflow-x: hidden;
  }

  &__item {
    border: var(--border-light-alt);
    border-radius: var(--radius-medium);
    transition-duration: var(--transition-duration);

    @include hover {
      background: var(--color-dark);
      border-color: var(--color-accent);
    }

    &:not(:last-child) {
      margin-bottom: rem(10);
    }

    button {
      padding: rem(10);
      width: 100%;
      height: 100%;
      column-gap: rem(10);

      &.is-active {
        pointer-events: none;
        background: var(--color-accent);
      }

      img {
        @include square(30);

        border-radius: 50%;
        object-fit: cover;
      }
    }
  }

  &__open {
    font-size: rem(18);
    width: 100%;
    background: var(--color-light-alt);
    color: var(--color-dark);
    padding: rem(10);
    border-radius: var(--radius-medium);
    text-transform: uppercase;
    margin-bottom: rem(10);

    @include hover {
      background: var(--color-accent);
    }
  }

  &__channel {
    column-gap: rem(5);
    margin-bottom: rem(20);

    img {
      @include square(30);

      border-radius: 50%;
      object-fit: cover;
    }
  }

  &__file {
    width: 100%;
    padding-block: rem(20);
    background: var(--color-dark);
    border-radius: var(--radius-medium);
    column-gap: rem(10);
    margin-bottom: rem(10);

    @include hover {
      filter: brightness(1.2);
    }

    svg {
      @include square(30);
    }
  }

  &__loading {
    height: rem(200);

    svg {
      @include square(80);

      animation: loading 1s infinite cubic-bezier(.9, .5, 0.7, .8);
    }

    @keyframes loading {
      to {
        rotate: 360deg;
      }
    }
  }
}