@use '../helpers' as *;

.video-list {

  &__item {
    cursor: pointer;
    padding: rem(8);
    transition-duration: var(--transition-duration);
    border-radius: var(--radius-medium);
    width: 100%;

    @include hover {
      background: #fe797180;
      color: inherit;

      .video-list__preview {
        border-radius: 0;
      }
    }

    li {
      width: 100%;
    }
  }

  &__preview {
    border-radius: var(--radius-medium);
    aspect-ratio: 16 / 9;
    margin-bottom: rem(10);
  }

  &__info {
    column-gap: fluid(15, 5);
    row-gap: fluid(20, 10);
  }

  &__avatar {
    @include flex-center();
    @include fluid-square(50, 30);

    background: var(--color-light-alt);
    border-radius: 50%;
    color: var(--color-dark-alt);
    text-transform: uppercase;
  }

  &__text {
    display: flex;
    flex-direction: column;
  }

  &__date, &__channel {
    font-size: rem(14);
    color: var(--color-light-alt);
    opacity: .9;
  }

  &__row {

    &-item {
      column-gap: rem(10);
      width: 100%;

      .video-list__preview {
        flex: 0 0 50%;
      }
    }

    &-channel {
      column-gap: rem(10);
    }
  }
}