@use '../../helpers/index' as *;

.channels {

  &__search {
    gap: rem(10);

    &-btn {
      background-color: color-mix(in srgb, var(--color-dark), transparent 60%);
      flex: 0 0 rem(60);
      border-radius: var(--radius-medium);
      border: 1px solid currentColor;

      svg {
        width: 55%;
      }
    }
  }
}