@use '../../helpers/index' as *;

.settings {

  &__inner {
    background-color: color-mix(in srgb, var(--color-dark), transparent 2%);

    &:not(.is-active) {
      pointer-events: none;
    }
  }

  &__btn {
    @include square(50);

    border-radius: 50%;
    background-color: color-mix(in srgb, var(--color-dark-alt), transparent 2%);
    transition:
            background-color var(--transition-duration),
            right var(--transition-duration),
            top var(--transition-duration);
    right: rem(40);
    top: rem(30);

    @include hover() {
      background-color: color-mix(in srgb, var(--color-light-alt), transparent 70%);
    }

    &.is-active {
      &:nth-child(1) {
        right: rem(170);
        top: rem(20);
      }
      &:nth-child(2) {
        right: rem(185);
        top: rem(90);
      }
      &:nth-child(3) {
        right: rem(150);
        top: rem(155);
      }
      &:nth-child(4) {
        right: rem(80);
        top: rem(180);
      }
    }

    svg {
      width: 60%;
    }
  }

  &__block {
    width: 40vw;
    min-height: rem(100);
    max-height: 50vh;
    background-color: var(--color-dark-alt);
    border-radius: var(--radius-big);
  }
}